body {
    font-family: Arial, serif;
}

h1 {
    margin: 10px 0 20px 0;
    color: #5f5d5d;
    text-align: center;
    font-size: 20px;
}


.wrapper {
    margin: 0 20px;
}


.color-selection-colors {
    display: flex;
    justify-content: space-between;

}

.color-block {
    width: 90px;
    height: 30px;
    border-radius: 4px;
    position: relative;
}

.color-block:before, .color-block:after {
    position: absolute;
    content: '';
    top: 25px;
    left: 10px;
    width: 10px;
    height: 10px;
    z-index: -1;
    background-color: #000;
    border-radius: 50%;
}

.color-block:after {
    left: 68px;
}

.color-block-check {
    color: #bbb;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    position: absolute;
    top: -11px;
    left: 74px;
}